<header>
    <nav class="navbar">
        <ul>
            <li><img src="assets/House.png" alt=" House Icon" srcset=""><a routerLink="/home" routerLinkActive="active" >Home</a></li>
            <li><img src="assets/Commands.png" alt="Commands Icon" srcset=""><a routerLink="/commands"  routerLinkActive="active">Commands</a></li>
            <li><img src="assets/Server.png" alt="Server Icon" srcset=""><a routerLink="/server"  routerLinkActive="active">Server</a></li>
        </ul>
        <img src="assets/home.png" alt="Home Icon" srcset="">
        <div class="my-servers">
            <span class="img-wrapper">
                <img src="../../assets/creator-1.png" alt="Home Icon" srcset="">
                <img class="up-arrow" src="../../assets/up-arrow.png"  alt="Toggle Dropdown" srcset="">
            </span>
            <ul class="dropdown">
                <li><a routerLink="/settings" rel="noopener noreferrer">My servers</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>