<footer>
    <div class="contact-wrapper">
        <div class="card-contact">
            <h3><a href="#">Contacts</a></h3>
            <p><a routerLink="/about">About us</a></p>
            <p>Discord server</p>
            <p>Email</p>
        </div>
        <div class="card-contact">
            <h3><a routerLink="/agreement" >Rules</a></h3>
            <p><a routerLink="/agreement" >Privacy Policy</a></p>
            <p><a routerLink="/agreement" >Terms of Service</a></p>
            <p>Сookie</p>
        </div>
        <div class="card-contact">
            <div class="website-log">
                <img src="assets/Logo.png" alt="Logo Icon" srcset="">
                <h3>Protect<span>X</span></h3>
            </div>
        </div>
    </div>
    <div class="figma">
        <p>Many thanks to Elias Dev for offering this UI/UX design to the Figma Community.</p>
        <a
            href="https://www.figma.com/design/pGPWDvGmyjIuzJ9l3ZQfpY/Discord-bot-panel-(Community)?node-id=0-1&t=U1Yms2P5ZDIna3rx-0"><img
                src="assets/Figma.png" alt="Figma Icon" /></a>
    </div>
    <p class="copyright">© 2024 J-Lucien. All rights reserved</p>
</footer>