<section class="slashCommands">

    <fieldset>
        <label for="prefix">Prefix </label>
        <input type="text" id="prefix" placeholder="!">
        <div class="ligne-45"></div>
        <div class="ligne-m-45"></div>
    </fieldset>
    <fieldset>
        <label for="commands">Slash Commands</label>
        <label class="switch-commands">
            <input type="checkbox">
            <span class="slider-command"></span>
            <div class="ligne-command-45"></div>
            <div class="ligne-command-m-45"></div>
        </label>
    </fieldset>
</section>