
<main>
    
    <section class="username-form">
        <fieldset>
            <label for="username">Username </label>
            <input type="text" id="username">
            <div class="ligne-45"></div>
            <div class="ligne-m-45"></div>
        </fieldset>
        <a href="#">
            <div class="polygon-plus">
                <div class="polygon-inside"></div>
            </div>
        </a>
    </section>

    <section class="username-list">
        <div class="username-card">
            <div class="card-wrapper">
                <div class="card-content">
                    <img src="assets/creator-1.png" alt="" srcset="">
                    <p>Elias🇺🇦<span>#6103</span></p>
                </div>
                <p>914240860101681163</p>
            </div>
            <a href="#">X</a>
        </div>
        <div class="username-card">
            <div class="card-wrapper">
                <div class="card-content">
                    <img src="assets/creator-2.png" alt="" srcset="">
                    <p>S.mode<span>#9723</span></p>
                </div>
                <p>711844449533165618</p>
            </div>
            <a href="#">X</a>
        </div>
    </section>

</main>