<img class="line-left" src="../assets/line-left.png" alt="" srcset="">
<img class="line-right" src="../assets/line-right.png" alt="" srcset="">

<main>
    <h1 class="hac"><span>О</span> нас</h1>
    <section class="technologies">
        <h1>Technologies</h1>
        <div class="techno-body-wrapper">
            <div class="techno-body">
                <ul>
                    <li><img src="../assets/polygon.png" alt="" srcset="">Node.js</li>
                    <li><img src="../assets/polygon.png" alt="" srcset="">Ubuntu Server</li>
                </ul>
            </div>
            <div class="techno-body">
                <ul>
                    <li><img src="../assets/polygon.png" alt="" srcset="">Discord.js</li>
                    <li><img src="../assets/polygon.png" alt="" srcset="">Express</li>
                    <li><img src="../assets/polygon.png" alt="" srcset="">React</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="creators">
        <h1>Creators</h1>
        <div class="creators-wrapper">
            <div class="creators-cards">
                <img src="../assets/creator-1.png" alt="" srcset="">
                <div class="creators-content">
                    <h3>Elias🇺🇦#6103</h3>
                    <p>Creator of this site</p>
                    <ul>
                        <li><a href="#"><img src="../assets/github.png" alt="Github Icon" srcset=""></a></li>
                        <li><a href="#"><img src="../assets/telegram.png" alt="Telegram Icon" srcset=""></a></li>
                        <li><a href="#"><img src="../assets/discord.png" alt="Discord Icon" srcset=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="creators-cards">
                <img src="../assets/creator-2.png" alt="" srcset="">
                <div class="creators-content">
                    <h3>S.mode#9723</h3>
                    <p>Creator of the bot</p>
                    <ul>
                        <li><a href="#"><img src="../assets/github.png" alt="Github Icon" srcset=""></a></li>
                        <li><a href="#"><img src="../assets/discord.png" alt="Discord Icon" srcset=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="creators-cards">
                <img src="../assets/creator-3.png" alt="" srcset="">
                <div class="creators-content">
                    <h3>Kotik#9821</h3>
                    <p>Bot creator</p>
                    <ul>
                        <li><a href="#"><img src="../assets/discord.png" alt="Discord Icon" srcset=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>