<div class="image-vector">
    <img class="left" src="../../assets/vector-left.svg" alt="" srcset="">
    <img class="right" src="../../assets/vector-right.svg" alt="" srcset="">
</div>

<main>
    <section class="agreement">
        <h1>User</h1>
        <h1>Agreement</h1>
    </section>

    <section class="content">
        <div class="card-wrapper">
            <div class="header">
                <h2>We collect such data </h2>
                <div class="custom-line-left"></div>
                <div class="custom-line-right"></div>
            </div>
            <ul>
                <li><img src="../../assets/polygon.png" alt="">If any errors affecting the bot are noticed, we have the
                    right to ask you or to join your Discord server.</li>
                <li><img src="../../assets/polygon.png" alt="">You agree that your actions in the bot are monitored.
                    This is to prove if you happen to be a troublemaker.</li>
                <!-- <li><img src="../../assets/polygon.png" alt=""></li> -->
            </ul>
        </div>

        <div class="card-wrapper">
            <div class="header">
                <h2>By using the commands, you agree that</h2>
                <div class="custom-line-left"></div>
                <div class="custom-line-right"></div>
            </div>
            <ul>
                <li><img src="../../assets/polygon.png" alt="">We collect the data mentioned above</li>
                <li><img src="../../assets/polygon.png" alt="">If you attempt to disrupt the bot's functionality, you
                    will be blocked</li>
                <li><img src="../../assets/polygon.png" alt="">Do not abuse the commands, otherwise, you will be warned
                </li>
            </ul>
        </div>

        <div class="card-wrapper">
            <div class="header">
                <h2>When using the commands bug, idea</h2>
                <div class="custom-line-left"></div>
                <div class="custom-line-right"></div>
            </div>
            <ul>
                <li><img src="../../assets/polygon.png" alt="">The bot's staff has the right to access your server</li>
                <li><img src="../../assets/polygon.png" alt="">If you submit a joke or false bug, as well as an idea,
                    you will be banned without warning.</li>
            </ul>
        </div>
    </section>
</main>