<main>
    <div class="all-commands">
        <h1>All <span>Commands</span></h1>
        <!-- <div> -->
        <p>[ ] - Optional parameters</p>
        <p>
            <> - Required parameters
        </p>
        <p>parameter | parameter - Optional parameters</p>
        <!-- </div> -->
    </div>

    <div class="search-container">
        <input class="search polygon" type="search" placeholder="Search" name="search" id="search">
        <div class="ligne ligne-left"></div>
        <div class="ligne ligne-left-m-45"></div>
        <div class="ligne ligne-right-45"></div>
        <div class="ligne ligne-right-m-45"></div>
    </div>

    <div class="links">
        <ul>
            <li class="polygon">All</li>
            <li>Anti-Crash</li>
            <li>Moderation</li>
            <li>Utilities</li>
            <li>Information</li>
        </ul>
    </div>

    <div class="info-wrapper">
        <div class="info-content">
            <p><span>Help</span> - Command Assistance</p>
            <p><span>About</span> - Bot Information</p>
            <p><span>Ping</span> - Check Bot Latency</p>
            <div class="last-info">
                <p><span>Enable</span> - Enable Anti-Crash Protection</p>
                <div class="creator">
                    <p>5c</p>
                    <p>Creator</p>
                </div>
            </div>
            <div class="ligne"></div>
            <div class="remove-queue"></div>
        </div>
        <div class="info-usage">
            <div>
                <h3>Usage</h3>
                <p>help [command]</p>
            </div>
            <div class="last-ligne">
                <h3>Examples</h3>
                <p>help</p>
                <p>help ban</p>
            </div>
            <div class="ligne-2"></div>
            <div class="remove-queue-2"></div>
        </div>
    </div>
</main>