<main>
    <section class="antiraid-wrapper">
        <div class="antiraid-content">
            <fieldset>
                <label for="Ping">Pings</label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                    <span class="hidden-top"></span>
                    <span class="hidden-bottom"></span>
                    <div class="ligne-top"></div>
                    <div class="ligne-bottom"></div>
                </label>
            </fieldset>
            <fieldset>
                <label for="Ping">Links</label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                    <span class="hidden-top"></span>
                    <span class="hidden-bottom"></span>
                    <div class="ligne-top"></div>
                    <div class="ligne-bottom"></div>
                </label>
            </fieldset>
            <fieldset>
                <label for="Ping">Server Invites</label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                    <span class="hidden-top"></span>
                    <span class="hidden-bottom"></span>
                    <div class="ligne-top"></div>
                    <div class="ligne-bottom"></div>
                </label>
            </fieldset>
        </div>
    </section>
</main>
