<main>
    <!-- <section class="support">
        <div class="support-wrapper">
            <div class="support-content">
                <h3>Yasin Helper Support</h3>
            </div>
        </div>
    </section>

    <section class="links">
        <ul>
            <li><a href="../view/settings.html">Home</a></li>
            <li><a class="active" href="../view/antiraid-settings.html">Anti-Raid</a></li>
            <li><a href="../view/greeting-settings.html">Greetings</a></li>
            <li><a href="../view/whitelist-settings.html">Whitelist</a></li>
        </ul>
    </section> -->

    <section class="antiraid-wrapper">
        <div class="antiraid-content">
            <fieldset>
                <label for="Ping">Pings</label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                    <span class="hidden-top"></span>
                    <span class="hidden-bottom"></span>
                    <div class="ligne-top"></div>
                    <div class="ligne-bottom"></div>
                </label>
            </fieldset>
            <fieldset>
                <label for="Ping">Links</label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                    <span class="hidden-top"></span>
                    <span class="hidden-bottom"></span>
                    <div class="ligne-top"></div>
                    <div class="ligne-bottom"></div>
                </label>
            </fieldset>
            <fieldset>
                <label for="Ping">Server Invites</label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                    <span class="hidden-top"></span>
                    <span class="hidden-bottom"></span>
                    <div class="ligne-top"></div>
                    <div class="ligne-bottom"></div>
                </label>
            </fieldset>
        </div>
    </section>
</main>