<main>
   
    <section class="username-form">
        <fieldset>
            <label for="auto-role">Auto-role </label>
            <input type="text" id="auto-role">
            <div class="ligne-45"></div>
            <div class="ligne-m-45"></div>
        </fieldset>

        <fieldset>
            <label for="auto-role">Welcome Channel </label>
            <input type="text" id="auto-role">
            <div class="ligne-45"></div>
            <div class="ligne-m-45"></div>
        </fieldset>

    </section>

</main>