@use '../../theme' as *;

main{
    max-width: 1000px;
    margin: 0 auto;


    .username-form {
        max-width: max-content;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 40px;
    
        fieldset {
          display: flex;
          flex-direction: column;
          padding: 0 16px;
          margin: 0;
          position: relative;
          border: none;
    
          label {
            position: absolute;
            color: $second-text-color;
            background-color: $background-color;
            left: 28px;
            top: -26%;
            padding: 0 4px;
          }
    
          input[type='text'] {
            color: $text-color;
            background-color: $background-color;
            border: 2px solid $second-text-color;
            border-left: none;
            border-right: none;
            padding: 8px 13px;
            font-size: 16px;
            outline: none;
          }
    
          .ligne-45::before,
          .ligne-m-45::before,
          .ligne-45::after,
          .ligne-m-45::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: $second-text-color;
          }
    
          .ligne-45::before {
            left: -1%;
            top: 23%;
            transform: rotate(-52deg);
          }
    
          .ligne-m-45::before {
            left: -1%;
            bottom: 24%;
            transform: rotate(52deg);
          }
    
          .ligne-45::after {
            right: -1%;
            top: 23%;
            transform: rotate(52deg);
          }
    
          .ligne-m-45::after {
            right: -1%;
            bottom: 24%;
            transform: rotate(-52deg);
          }
        }
    
        
      }
    

}