
<div class="image">
    <img class="left-image" src="assets/image-server-left.png" alt="" srcset="">
    <img class="right-image" src="assets/image-server-right.png" alt="" srcset="">
</div>

<main>
    <section class="select-servers">
        <h1>Select <span>server</span></h1>
        <div class="server-wrapper">
            <div class="server-card">
                <img src="assets/support.png" alt="" srcset="">
                <h3>Yasin Helper Support</h3>
            </div>
            <div class="server-card">
                <img src="assets/berloga.png" alt="" srcset="">
                <h3>Berloga</h3>
                <a href="#">To invite</a>
            </div>
            <div class="server-card">
                <img src="assets/alte-nodes.png" alt="" srcset="">
                <h3>AlteNodes</h3>
                <a href="#">To invite</a>
            </div>
        </div>
    </section>
</main>

