<main>
    <section class="section-1">
        <div>
            <h1>Protect<span>X</span></h1>
            <p>Bot for protecting your servers. I don't know what to write here, need to come up with something
                later
            </p>
            <p class="hexagon">Invite</p>
            <div class="link-button">
                <a href="/view/command.html">Commands</a>
                <a href="#">Instructions</a>
            </div>
        </div>
        <img src="assets/Logo.png" alt="Logo Icon" srcset="">
    </section>
    <section class="section-2">
        <div class="card">
            <img src="assets/server.png" alt="Server Icon" srcset="">
            <p><span>1152</span> Servers</p>
        </div>
        <div class="card">
            <img src="assets/users.png" alt="Users Icon" srcset="">
            <p><span>102820</span> Users</p>
        </div>
        <div class="card">
            <img src="assets/whitelist.png" alt="Server Icon" srcset="">
            <p><span>368</span> in the whitelist</p>
        </div>
    </section>

    <section class="section-3">
        <div class="card-content">
            <img src="assets/ANTI-CRASH.png" alt="ANTI-CRASH" srcset="">
            <div class="card-info">
                <h1>ANTI-CRASH</h1>
                <p>Protection against unauthorized server changes. Permanent ban for the offender. Not a single
                    crash bot will get through.</p>
                <a href="#">More details</a>
            </div>
        </div>
        <div class="card-content">
            <div class="card-info">
                <h1>Anti-Raid</h1>
                <p>Protection against link and mention spam. Customize this mode to your preference.</p>
                <a href="#">More details</a>
            </div>
            <img src="assets/Anti-Raid.png" alt="ANTI-CRASH" srcset="">
        </div>
        <div class="card-content">
            <img src="assets/ANTI-CRASH.png" alt="ANTI-CRASH" srcset="">
            <div class="card-info">
                <h1>ANTI-CRASH</h1>
                <p>Protection against unauthorized server changes. Permanent ban for the offender. Not a single
                    crash
                    bot will get through.</p>
                <a href="#">More details</a>
            </div>
        </div>
    </section>
    <section class="section-4">
        <p>The largest servers with the bot</p>
        <div class="card-body-wrapper">
            <img src="assets/cat.png" alt="Cat Image" srcset="">
            <div class="card-body">
                <h3>Berloga</h3>
                <span>
                    <img src="assets/users.png" alt="User Icon" srcset="">
                    <p>100+</p>
                </span>
            </div>
        </div>
    </section>
</main>